@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* Styling Container */
.container{
    width: 430px;
    padding: 15px 20px;
}

/* Styling Textarea */
.container #notes-input{
    border: none;
    border-radius: 3px;
    width: 100%;
    resize: vertical;
    min-height: 100px;
    max-height: 200px;
    outline: none;
    padding: 10px;
    margin-bottom: 8px;
    box-shadow: 0px 0px 5px 1px #00000014;
}

/* Styling Add Notes Button */
.container #add-note{
    border: 1px solid #00000089;
    background-color: #fefefe;
    width: 100%;
    padding: 15px;
    border-radius: 2px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 20px;
    transition: 0.2s ease-in-out;
}
.container #add-note:hover{
    background-color: #1f1f1f;
    color: #fefefe;
}
/* Styling Notes/Content Area */
.allNotes .heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    margin-bottom: 7px;
    color: #000;
}
.heading #clear-notes{
    cursor: pointer;
    transition: 0.2s ease-in-out;
    color: #000;
}
.heading #clear-notes:hover{
    color: #1f1f1f68;
}
.content .singleNote{
    width: 100%;
    padding: 10px;
    padding-right: 37px;
    border-radius: 2px;
    margin-bottom: 12px;
    min-height: 61px;
    font-size: 15px;
    position: relative;
    cursor: pointer;
    background-color: #f8c5953d;
    overflow: hidden;
}
.controls{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 33px;
    width: 100%;
    background-color: #fde7d3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    transform: translateY(100%);
    transition: 0.3s ease-in-out;
}

.singleNote:hover .controls{
    transform: translateY(0%);
}
.controls .edit,
.controls .delete{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    color: #1f1f1f;
}
.hide{
    display: none !important;
}

/* Styling the Scroll Bar */

/* width */::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1f1f1fdc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1f1f1f;
}